header {
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color:aqua;
    /* padding-bottom: 15px; */
    margin-bottom: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0.2);
}

body {
 align-items: center;
 display: block;
}

.logo {
    /* padding: 20px; */
    margin-right: 800px;
    width: 200px;
    margin-top: 60px;
    cursor: pointer;
}

p{
    text-align: center;
}

h2 {
    padding-top: 70px;
}

nav li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}

div {
    padding-top: 40px;
    margin-top: 40px;
    /* opacity: 20%; */
    background-color: azure;
}

section {
    align-items: center;
}

.home {
    border: 1px solid black;
}

.gallery figure {
    margin: 15px;
    border: 1px solid black;
    float: left;
    width: 180px;
    display: flex;
    justify-content: space-between;
    /* overflow: auto;
    overflow-y: hidden;
    scrollbar-width: none; */
}

.gallery figcaption {
    padding: 15px;
    text-align: center;
}

.gallery img:hover {
    border: 1px solid #777;
}

.gallery video:hover {
    border: 1px solid #777;
}

.gallery img {
  width: 180px;
  height: auto;
}

a {
    text-decoration: none;
}

footer {
    background-color: aquamarine;
}